// visualize grid or not
$visualize_grid: true;
$gutter_width: 1rem;
$gutter_width_wide: 2rem;
$neat-grid: ( columns: 4, gutter: $gutter_width, );
$tablet: ( columns: 8, gutter: $gutter_width, media: 600px, );
$desktop: ( columns: 12, gutter: 1rem, media: 840px, );
$desktop-wide: ( columns: 12, gutter: $gutter_width_wide, media: 1440px, );

.container {
	@include grid-container;
	margin: 0 auto;
	max-width: 1280px;
	// visualize grid
	@if ($visualize_grid) {
		@include grid-visual;
		@include grid-media($tablet) {
			@include grid-visual;
		}

		@include grid-media($desktop) {
			@include grid-visual;
		}

		@include grid-media($desktop-wide) {
			@include grid-visual;
		}
	}
}
